/* Overall */

div.bx-type{
    display: flex;
}

div.bx-impress, .bx-type{
    overflow: hidden;
}

div.bx-type > div.bx-creative{
    background-color: #FFC216;
    padding-bottom: 10%;
}


div.bx-creative-top > img.client-logo{
    margin: 0 auto;
    height: 80px;
    position: relative;
}

.bxc .bx-close-circle::before{
    content: url(https://res.cloudinary.com/dkhiieq9p/image/upload/c_scale,w_64/a_315/v1629909196/Screen_Shot_2021-08-25_at_12.32.54_PM_w9coob.png);
    position: absolute;
    padding: 10%;
    height: 95px;
    width: 220px;
    right: -98px;
    top: -15px;
    transform: rotate(45deg);
    box-shadow: 0.1px 0.1px 10px rgba(88, 88, 88, 0.363);
}

/* Text */

div.bx-group-1{
    padding-bottom: 10px;
}

div.bx-row-headline{
    display: flex;
    justify-content: center;
    line-height: 45px;
}

div.bx-row-subheadline > p, div.bx-row-headline > p{
    color: #000066;
}

div.bx-row-headline > p{
    font-size: 45px;
    font-weight: bold;
}

div.bx-row-headline > p.bx-row-headline-2{
    font-size: 60px;
}

/* Group 2 - input section */

div.bx-group-2{
    padding: 0% 20%;
}

.bxc .bx-creative input[type="email"]{
    border: 1px rgba(255,255,255,0.5);
}



div.bx-group-2 > div.bx-row-email > input{
    text-align: center;
    box-shadow: 1px 1px 5px rgb(48, 43, 26);
}

div.bx-group-2 > div.bx-row-submit::before{
    position: absolute;
    content: "\2192";
    font-size: 60px;
    height: 70px;
    color: white;
    border-right: 2px solid ;
    border-image: 
    linear-gradient(
      to bottom, 
      #2654A1, 
      white
    ) 1 100%;
    z-index: 50;

}

div.bx-group-2 > div.bx-row-submit > input#submit{
    position: relative;
    background: linear-gradient(#2654A1, #000066);
    box-shadow: 1px 1px 5px rgb(48, 43, 26);
    font-size: 25px;
    height: 70px;
}

/* media query for phone */

@media (max-width: 425px) {

    .bxc, .bx-creative{
        width: 350px;
        height: 400px;
    }

    div.bx-row-headline{
        line-height: 20px;
    }

    div.bx-row-headline > p{
        font-size: 25px;
    }

    div.bx-row-headline > p.bx-row-headline-2{
        font-size: 35px;
    }
    
    div.bx-creative-top > img.client-logo{
        height: 50px;
    }

    .bxc .bx-close-circle::before{
        content: url(https://res.cloudinary.com/dkhiieq9p/image/upload/c_scale,h_51/a_315/v1629909196/Screen_Shot_2021-08-25_at_12.32.54_PM_w9coob.png);
        width: 190px;
        height: 75px;
        right: -90px;
        top: -15px;
    }

    div.bx-group-2 > div.bx-row-email > input{
        height: 30px;
        font-size: 15px;
    }

    div.bx-group-2 > div.bx-row-submit::before{
        font-size: 40px;
        height: 50px;
    }

    div.bx-group-2 > div.bx-row-submit > input#submit{
        font-size: 20px;
        height: 50px;
    }

}

